[mysql]
user={{ mysql_user }}
host=localhost
password='{{ mysql_password }}'
socket=/var/lib/mysql/mysql.sock

[client]
user={{ mysql_user }}
host=localhost
password='{{ mysql_password }}'
socket=/var/lib/mysql/mysql.sock

[mysqldump]
user={{ mysql_user }}
host=localhost
password='{{ mysql_password }}'
socket=/var/lib/mysql/mysql.sock

[mysqladmin]
user={{ mysql_user }}
host=localhost
password='{{ mysql_password }}'
socket=/var/lib/mysql/mysql.sock

